{% extends 'base.html' %}
{% load static %}



{% block body %}

<div class="jumbotron">
	<h1 align='center'>DjangoNote!</h1>
	<div class='container' style='padding-top:10px'>
		<form action="" method="post">{% csrf_token %}
		<div class="row">
			<div class="col-md-6">
				<input type='text' id='id_username' name='username' class='form-control' placeholder='Username' />
			</div>
			<div class='col-md-6'>
				<input type='password' id='id_password' name='password' class='form-control' placeholder='Password' />
			</div>
		</div>
		<br>
		<input type="submit" value="Login" class='btn btn-primary btn-lg btn-block' />
		</form>
	</div>
</div>

{% endblock body %}